<!-- <div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Blog App</a>
    </div>
  </div>
</div> -->
<div class="container">
<div class="page-header">
  <h1>Blog App <small>Nathan Otto</small></h1>
</div>
</div>
<div class="container">
  {{outlet}}
</div>
